# Core
RUN_FROM_FILE=True
FAST_API_ENVIRONMENT=dev
SERVER_HOST=0.0.0.0
# host port (mapped to 8000 inside the container)
API_PORT=7861

# LLM
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=

AZURE_EMBEDDINGS_OPENAI_ENDPOINT=
AZURE_EMBEDDINGS_OPENAI_API_KEY=

# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=
AZURE_SEARCH_SEMANTIC_CONFIG=default